{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="w-100 text-justify">
        <h1 class="mb-4">{% if token_fail %} Bad Token {% else %} Change Password {% endif %}</h1>

        {% if form.non_field_errors or form.errors %}
            <ul class="alert alert-danger" style="list-style-position: inside;">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <li class="text-justify p-0 m-0">{{ error }}</li>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="text-justify p-0 m-0">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}" class="w-100">
                    {% csrf_token %}
                    <p>
                        <label for="id_password1">New Password:</label>
                        {{ form.password1 }}
                    </p>
                    <p>
                        <label for="id_password2">New Password (again):</label>
                        {{ form.password2 }}
                    </p>
                    <input type="submit" name="action" value="Change Password"/>
                </form>
            {% else %}
                <p>Your password is now changed.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
