{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="w-100 text-justify">
        <h1 class="mb-4">Password Reset</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        {% if form.non_field_errors or form.errors %}
            <ul class="alert alert-danger" style="list-style-position: inside;">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <li class="text-justify p-0 m-0">{{ error }}</li>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="text-justify p-0 m-0">{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        <form method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <p>
                <label for="id_email">E-mail:</label>
                {{ form.email }}
            </p>
            <input type="submit" value="Reset My Password" class="mb-3"/>
        </form>
        <p>Please contact us if you have any trouble resetting your password.</p>
    </div>
{% endblock %}
