{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog-detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container blog-detail-wrapper" style="color: #222;">
        <h3 class="text-center">{{ blog.title }}</h3>
        <p style="font-size: 0.875rem;"><span>Date:</span>&nbsp;{{ blog.posted_date }}</p>
        <div>
            {{ blog.content|safe }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/header.js' %}"></script>
    <!--js cũng tương tự css-->
{% endblock %}