.we-rating-item {
    display: inline-block;
}

/*
.we-rating a svg{
    fill: green;
}
*/

.we-rating-item a {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.we-rating-item a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(icon/star-o.svg) no-repeat;
}

.we-rating-item .rating-full-star:after {
    background-image: url(icon/star.svg);
}

.we-rating-item .rating-half-star:after {
    background-image: url(icon/star-half-empty.svg);
}